.wrapper-about-product {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-about-product .about-product {
  width: 1000px;
  margin-top: 104px;
}

.wrapper-about-product .about-product .slider-product {
  width: 330px;
  display: inline-block;
  overflow: hidden;
}

.wrapper-about-product .about-product .slider-product .slider-for__item {
  display: inline-block;
  margin: 0 10px;
}

.wrapper-about-product .about-product .slider-product .slider-for {
  width: 100%;
}

.wrapper-about-product .about-product .slider-product .slider-for .slider-for__item {
  outline: none;
}

.wrapper-about-product .about-product .slider-product .slider-for .slider-for__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 330px;
  height: 342px;
}

.wrapper-about-product .about-product .slider-product .slider-nav {
  overflow: hidden;
  margin-top: 70px;
}

.wrapper-about-product .about-product .slider-product .slider-nav .item-nav {
  height: 70px;
  display: inline-block;
  margin-right: 20px;
  outline: none;
}

.wrapper-about-product .about-product .slider-product .slider-nav .item-nav:last-child {
  margin-right: 0px;
}

.wrapper-about-product .about-product .slider-product .slider-nav .item-nav .background {
  width: 100%;
  height: 100%;
  background-color: #ff5912;
}

.wrapper-about-product .about-product .slider-product .slider-nav .item-nav img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.wrapper-about-product .about-product .slider-product .slider-nav .item-nav img:hover {
  opacity: 0.2;
}

.wrapper-about-product .about-product .product-about-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 82px;
  max-width: 575px;
}

.wrapper-about-product .about-product .product-about-text h1 {
  font-family: 'HarmoniaSansProBlack';
  color: #ff5912;
  font-size: 52px;
  margin-bottom: 30px;
}

.wrapper-about-product .about-product .product-about-text h3 {
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  font-size: 18px;
  color: #3c4751;
  margin-bottom: 40px;
}

.wrapper-about-product .about-product .product-about-text p {
  max-width: 520px;
  font-family: 'HarmoniaSansPro';
  font-size: 16px;
  line-height: 30px;
  color: #495662;
  margin-bottom: 85px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  border-bottom: 1px solid #edeff1;
  margin-bottom: 60px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-size {
  font-family: 'HarmoniaSansPro';
  font-size: 18px;
  color: #34404b;
  display: inline-block;
  margin-bottom: 40px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-size p {
  display: inline-block;
  font-size: 14px;
  margin-left: 38px;
  color: #34404b;
  margin-bottom: 0px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-size p .size {
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-size p .size:hover {
  font-size: 18px;
  color: #ff5912;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-quantity {
  display: inline-block;
  font-family: 'HarmoniaSansPro';
  font-size: 18px;
  color: #34404b;
  margin-bottom: 40px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-quantity span {
  margin-right: 20px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-quantity .plus {
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-quantity .number {
  color: #ff5912;
  margin-right: 0px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-size-quantity .choose-quantity .minus {
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link .price {
  display: inline-block;
  font-family: 'HarmoniaSansProBlack';
  color: #34404b;
  font-size: 20px;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link .link-block {
  display: inline-block;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link .link-block i {
  margin-right: 25px;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link .link-block i:hover {
  color: #ff5912;
}

.wrapper-about-product .about-product .product-about-text .wrapper-price-link .link-block a {
  padding: 20px 24px;
  text-decoration: none;
  background-color: #ff5912;
  color: white;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  font-family: 'HarmoniaSansPro';
  font-size: 18px;
  font-weight: 600;
}

.slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wrapper-title {
  margin: auto;
  text-align: center;
  margin-top: 120px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.wrapper-title h1 {
  font-family: 'HarmoniaSansPro';
  font-weight: 700;
  color: #34404b;
  margin-bottom: 32px;
  font-size: 36px;
}

.wrapper-title h1 span {
  color: #ff5912;
}

.wrapper-title p {
  font-family: 'HarmoniaSansPro';
  color: #495662;
  font-size: 16px;
}

.main-block {
  background-color: #f4f6f8;
  width: 100%;
}

.main-block .arrivals {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block .arrivals .arrivals-slider {
  width: 1170px;
  margin: auto;
  margin-bottom: 260px;
}

.main-block .arrivals .slick-dots {
  height: 60px;
  line-height: 52px;
  background-color: white;
  margin-top: 80px;
  bottom: auto;
}

.main-block .arrivals .slick-dots button:before {
  color: #ff5912;
}

.main-block .arrivals .slick-dots li.slick-active button:before {
  color: #ff5912;
}

.arrivals-block,
.wrapper-related-product .related-product .wrapper-related-block .related-block {
  width: 270px;
  margin-top: 120px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: block;
  cursor: pointer;
  margin-right: 30px;
  padding-top: 30px;
}

.arrivals-block:hover .hover-block,
.wrapper-related-product .related-product .wrapper-related-block .related-block:hover .hover-block {
  display: block;
}

.arrivals-block img,
.wrapper-related-product .related-product .wrapper-related-block .related-block img {
  height: 220px;
  margin: auto;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals-block h3,
.wrapper-related-product .related-product .wrapper-related-block .related-block h3 {
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  color: #34404b;
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 18px;
}

.arrivals-block .price-product,
.wrapper-related-product .related-product .wrapper-related-block .related-block .price-product {
  display: inline-block;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  color: #ff5912;
  margin-bottom: 28px;
  font-size: 18px;
}

.arrivals-block .hover-block,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block {
  position: absolute;
  display: none;
  text-align: center;
  background-color: white;
  top: 0;
  left: 0;
  padding-top: 30px;
  width: 100%;
}

.arrivals-block .hover-block img,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block img {
  width: 70px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals-block .hover-block h3,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block h3 {
  color: #ff5912;
}

.arrivals-block .hover-block span,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block span {
  display: inline-block;
  font-family: 'HarmoniaSansPro';
  color: #34404b;
  margin-bottom: 32px;
  font-size: 14px;
}

.arrivals-block .hover-block .color,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color {
  margin-bottom: 62px;
}

.arrivals-block .hover-block .color i,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color i {
  font-size: 16px;
}

.arrivals-block .hover-block .color i:nth-child(1),
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color i:nth-child(1) {
  color: #e12e3f;
}

.arrivals-block .hover-block .color i:nth-child(2),
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color i:nth-child(2) {
  color: #34404b;
}

.arrivals-block .hover-block .color i:nth-child(3),
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color i:nth-child(3) {
  color: #3ab3ff;
}

.arrivals-block .hover-block .color i:nth-child(4),
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .color i:nth-child(4) {
  color: #2fd967;
}

.arrivals-block .hover-block .link-block,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .link-block {
  margin-bottom: 30px;
}

.arrivals-block .hover-block .link-block i,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .link-block i {
  color: #495662;
  margin-right: 30px;
}

.arrivals-block .hover-block .link-block i:last-child,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .link-block i:last-child {
  margin-right: 0px;
}

.arrivals-block .hover-block .link-block i:hover,
.wrapper-related-product .related-product .wrapper-related-block .related-block .hover-block .link-block i:hover {
  color: #ff5912;
}

.wrapper-related-product {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4f6f8;
}

.wrapper-related-product .related-product {
  width: 1170px;
  margin-bottom: 120px;
}

.wrapper-related-product .related-product .wrapper-related-block .related-block {
  display: inline-block;
  margin-right: 18px;
  cursor: default;
}
@font-face {
  font-family: 'HarmoniaSansPro';
  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansPro';
  src: url("../fonts/HarmoniaSansProCyr-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansPro';
  src: url("../fonts/HarmoniaSansProCyr-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HarmoniaSansPro';
  src: url("../fonts/HarmoniaSansProCyr-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProBlack';
  src: url("../fonts/HarmoniaSansProCyr-Black.otf");
  font-weight: 600;
  font-style: normal;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer-wrapper .footer {
  width: 1170px;
  margin-top: 90px;
  margin-bottom: 82px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper .footer .footer-logo {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-wrapper .footer nav {
  display: inline-block;
  margin-bottom: 37px;
  width: 625px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-wrapper .footer nav ul li {
  width: 205px;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-wrapper .footer nav ul li a {
  font-family: 'HarmoniaSansPro';
  text-decoration: none;
  font-size: 14px;
  color: #34404b;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.footer-wrapper .footer nav ul li a:hover {
  color: #ff5912;
}

.footer-wrapper .footer nav ul li a i {
  font-size: 6px;
  vertical-align: middle;
  margin-right: 10px;
}

.footer-wrapper .footer .pay {
  display: inline-block;
  margin-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-wrapper .footer .pay h3 {
  font-family: 'HarmoniaSansPro';
  color: #ff5912;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 22px;
}
.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.header-wrapper .header {
  width: 1170px;
}

.header-wrapper .header .header-info {
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header-wrapper .header .header-info .header-mail,
.header-wrapper .header .header-info .header-phone {
  margin-right: 20px;
  font-family: 'HarmoniaSansPro';
  font-size: 12px;
  color: #34404b;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header-wrapper .header .header-info .header-mail i,
.header-wrapper .header .header-info .header-phone i {
  color: #ff5912;
  font-size: 16px;
  margin-right: 10px;
}

.header-wrapper .header .header-info .header-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.header-wrapper .header .header-info .header-link a {
  color: #34404b;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  margin-right: 18px;
}

.header-wrapper .header .header-info .header-link a:last-child {
  margin-right: 0px;
}

.header-wrapper .header .header-info .header-link a:hover {
  color: #ff5912;
}

.header-wrapper .header .header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.header-wrapper .header .header-nav .header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header-wrapper .header .header-nav nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 85px;
}

.header-wrapper .header .header-nav nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
}

.header-wrapper .header .header-nav nav ul li:last-child {
  margin-right: 0px;
}

.header-wrapper .header .header-nav nav ul li a {
  font-family: 'HarmoniaSansPro';
  text-decoration: none;
  font-size: 16px;
  color: #34404b;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.header-wrapper .header .header-nav nav ul li a:hover {
  color: #ff5912;
}

.header-wrapper .header .header-nav .user-means {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: right;
}

.header-wrapper .header .header-nav .user-means a {
  margin-right: 30px;
}

.header-wrapper .header .header-nav .user-means a:last-child {
  margin-right: 0px;
}

.header-wrapper .header .header-nav .user-means .cart {
  position: relative;
}

.header-wrapper .header .header-nav .user-means .cart:before {
  content: '5';
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #34404b;
  color: white;
  font-size: 10px;
  font-family: 'HarmoniaSansPro';
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: -22px;
  left: 3px;
}
.join-us {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-us .wrapper-join-us {
  width: 1170px;
  background-color: white;
  margin-bottom: 120px;
}

.join-us .wrapper-join-us h2 {
  font-size: 18px;
  color: #ff5912;
  font-family: 'HarmoniaSansPro';
  display: inline-block;
  margin: 55px 25px 55px 60px;
}

.join-us .wrapper-join-us p {
  font-size: 14px;
  color: #34404b;
  font-family: 'HarmoniaSansPro';
  display: inline-block;
  font-style: italic;
}

.join-us .wrapper-join-us .email {
  display: inline-block;
  margin-left: 250px;
  margin-right: 160px;
}

.join-us .wrapper-join-us .email i {
  margin-right: 15px;
  color: #ff5912;
}

.join-us .wrapper-join-us .email span {
  font-size: 14px;
  color: #7c8791;
  font-family: 'HarmoniaSansPro';
  font-style: italic;
}

.join-us .wrapper-join-us a {
  padding: 18px 28px;
  background-color: #ff5912;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.join-us .wrapper-join-us a:hover {
  background-color: #f3530f;
}
.sale-info {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale-info .wrapper-sale-info {
  width: 1170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-info .wrapper-sale-info .sale-block {
  width: 670px;
  background-color: white;
  margin-bottom: 120px;
}

.sale-info .wrapper-sale-info .sale-block .sales {
  display: inline-block;
  margin-left: 62px;
  margin-top: 10px;
  vertical-align: top;
}

.sale-info .wrapper-sale-info .sale-block .title-sale {
  display: inline-block;
  margin: 30px 75px 30px 60px;
}

.sale-info .wrapper-sale-info .sale-block .title-sale h1 {
  font-size: 22px;
  color: #34404b;
  font-family: 'HarmoniaSansProBlack';
  font-weight: 600;
  margin-bottom: 16px;
}

.sale-info .wrapper-sale-info .sale-block .title-sale h3 {
  font-size: 12px;
  color: #495662;
  font-family: 'HarmoniaSansPro';
}

.sale-info .wrapper-sale-info .sale-block .cart-sale {
  display: inline-block;
  vertical-align: top;
  margin-top: 38px;
}

.sale-info .wrapper-sale-info .sale-block .cart-sale span {
  font-size: 32px;
  color: #ff5912;
  font-family: 'HarmoniaSansProBlack';
  font-weight: 600;
}

.sale-info .wrapper-sale-info .area {
  width: 470px;
  background-color: white;
  margin-bottom: 120px;
  text-align: center;
}

.sale-info .wrapper-sale-info .area p {
  font-size: 16px;
  font-family: 'HarmoniaSansPro';
  color: #34404b;
  margin-bottom: 18px;
  vertical-align: top;
  margin-top: 30px;
}

.sale-info .wrapper-sale-info .area p span {
  color: #ff5912;
}

.sale-info .wrapper-sale-info .area .size {
  font-size: 12px;
  letter-spacing: 0.6em;
  font-family: 'HarmoniaSansPro';
  color: #34404b;
}

.product-sales {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-sales .wrapper-product-sales {
  width: 1170px;
  text-align: center;
}

.product-sales .wrapper-product-sales h1 {
  font-size: 36px;
  font-family: 'HarmoniaSansProBlack';
  font-weight: 600;
  color: #34404b;
  margin-bottom: 30px;
}

.product-sales .wrapper-product-sales h1 span {
  color: #ff5912;
}

.product-sales .wrapper-product-sales p {
  font-size: 16px;
  font-family: 'HarmoniaSansPro';
  font-weight: 400;
  color: #495662;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks {
  width: 1170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 120px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block {
  background-color: white;
  width: 370px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block:hover .wrapper-grade .wrapper-show {
  display: none;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block:hover .wrapper-grade .hover-blok-sale {
  display: inline-block;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block img {
  vertical-align: top;
  margin-top: 36px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade {
  display: inline-block;
  margin: 48px 0 52px 55px;
  text-align: left;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade h3 {
  font-size: 18px;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  color: #34404b;
  margin-bottom: 35px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .wrapper-show .grade {
  display: inline-block;
  margin-right: 50px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .wrapper-show .grade i {
  color: #ff5912;
  display: inline-block;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .wrapper-show .grade i:last-child {
  color: #e9ecf3;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .wrapper-show span {
  font-size: 16px;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  color: #ff5912;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .hover-blok-sale {
  display: none;
  background-color: white;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .hover-blok-sale img {
  vertical-align: top;
  display: inline-block;
  margin-top: 0px;
}

.product-sales .wrapper-product-sales .wrapper-product-blocks .product-block .wrapper-grade .hover-blok-sale span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  color: #ff5912;
}
.slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  background-color: #eeeef1;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 290px 0px;
}

.slider-wrapper .slider {
  width: 1170px;
  margin: 220px 0 220px;
  padding-left: 100px;
}

.slider-wrapper .slider .slider-block h1 {
  color: #ff5912;
  font-size: 52px;
  margin-bottom: 30px;
  font-family: 'HarmoniaSansPro';
  font-weight: 700;
}

.slider-wrapper .slider .slider-block h3 {
  color: #3c4751;
  font-size: 18px;
  margin-bottom: 18px;
  font-family: 'HarmoniaSansPro';
  font-weight: bold;
}

.slider-wrapper .slider .slider-block p {
  color: #495662;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 65px;
  font-family: 'HarmoniaSansPro';
}

.slider-wrapper .slider .slider-block span {
  color: #34404b;
  font-size: 18px;
  font-family: 'HarmoniaSansPro';
  font-weight: 600;
  display: inline-block;
  margin-right: 30px;
}

.slider-wrapper .slider .slider-block a {
  color: #ff5912;
  font-size: 18px;
  font-family: 'HarmoniaSansPro';
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.slider-wrapper .slider .slider-block a img {
  display: inline-block;
  margin-right: 10px;
}

.slider-wrapper .slider ul.slick-dots {
  bottom: 0;
  top: 100px;
  left: 0;
  width: auto;
}

.slider-wrapper .slider ul.slick-dots li {
  display: block;
  width: 10px;
  height: 16px;
  background-color: white;
  margin-bottom: 10px;
}

.slider-wrapper .slider ul.slick-dots li:last-child {
  margin-bottom: 0px;
}

.slider-wrapper .slider ul.slick-dots li button:before {
  display: none;
}

.slider-wrapper .slider ul.slick-dots .slick-active {
  height: 36px;
  background-color: #ff5912;
}